<!--Author: Mikuláš Heinz, xheinz01, 2022 License: AGPLv3-->

<h1 id="detector2-tab">Error detection</h1>
<h3 id="detector2-tab">Current state</h3>
<div id="detector2-tab-start"></div>
<div id="detector2-tab-end"></div>
{#Changes detection#}
{#<div class="inputoutput">#}
{#    canvas input#}
{#    <canvas id="canvasInput" ></canvas>#}
{#    cabvas output#}
{#    <canvas id="canvasOutput" ></canvas>#}
{#  </div>#}
